@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#font-weight-700{
 font-weight: 700;
}

.p_28{
  color: #1c1e21;
  margin: 0px;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
}

.p_12{
  margin: 0px;
  font-size: 15px;
  font-weight: 500;
  color: #606770;
}

/* =====Login-page===== */
.login-page-container{
  padding: 132px 0 92px 0;
  background-color: #f0f2f5;
}

.login-page__accounts-login{
  margin: 0 23%;
}

@media screen and (max-width: 1075px){
  .login-page__accounts-login{
    margin: 0 40px !important;
  }
}

.login-page__accounts img{
  height: 30px;
}

.login-page__accounts-texts{
  margin: 15px 0 25px 0;
}

.login-page__accounts-profiles{
  display: flex;
}

.login-page__accounts-profile1{
  position: relative;
  width: 160px;
  height: 206px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1px #dddfe2;
  margin-right: 20px;
}

.login-page__accounts-profile1-img img{
  width: 160px;
  height: 160px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 0 1px #dddfe2;
}

.login-page__accounts-add-profile-p,
.login-page__accounts-profile1-name{
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 12px;
}

.login-page__accounts-add-profile-p{
  color: #1877f2;
  line-height: 25px !important;
}

.login-page__accounts-profile1-close{
  position: absolute;
  top: 5px;
  left: 5px;
  height: 17px;
  width: 17px;
  border-radius: 10px;
  background-color: #a3a3a3;
  color: #fff;
}

.login-page__accounts-profile1-notif{
  position: absolute;
  top: -5px;
  right: -3px;
  height: 22px;
  width: 22px;
  border-radius: 15px;
  background-color: red;
  text-align: center;
  padding: 2px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.login-page__accounts-container{
  margin-right: 17%;
}


/* =====Add-Profile===== */

.login-page__accounts-add-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  background-color: #f5f6f7;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 0 1px #dddfe2;
}

.login-page__accounts-plus-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width:45px;
  height: 45px;
  background-color: #1877f2;
  border-radius: 50px;
}

.login-page__form-container{
  width: 400px;
  height: 500px;
}

.login-page__form{
  width: 400px;
  height: 350px;
  margin-top: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.login-page__form-input{
  margin: 16px 16px 0 16px;
  width: 364px;
  height: 52px;
  font-size: 17px;
  font-weight: 500;
  color: #1d2129;
  padding: 14px 16px;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}

.login-page__submit{
  margin: 16px 16px 0 16px;
  width: 364px;
  height: 48px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  border: 0px;
  background-color: #1877f2;
  cursor: pointer;
}

.login-page__forgot-pass{
  margin-top: 16px;
  color: #1877f2;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.login-page__horizontal-rule{
  border-bottom: 1px solid #dadde1;
  margin: 16px;
}

.login-page__create{
  margin: 8px;
  width: 200px;
  height: 48px;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  border-radius: 6px;
  border: 0px;
  background-color: #42b72a;
  cursor: pointer;
}

.login-page__footnote{
  width: 100%;
  margin-top: 28px;
  text-align: center;
  font-size: 14px;
  color: #1c1e21;
}
